<div class="wrapper">
  <div class="side-bar">
    <%= render "categories/side_bar" %>
  </div>
  <div class="main-contents">
    <h2>
      リマインド一覧
    </h2>
 
    <% if @reminds.present? %>
      <div class="reminds">
        <div class="all-check">
          <%= link_to "全て確認済にする", all_checked_profile_reminds_path(@user.profile.id), data: { confirm: '全てのリマインドを確認済とします。よろしいですか？' }, class:"all-check-btn" %> 
        </div>
        <%= render partial: "remind", collection: @reminds %>
      </div>
    <% else %>
      <div>
        リマインドはありません
      </div>
    <% end %>
  </div>
</div> 