a {
  text-decoration: none;
  color:#006a6c;
}

a:hover{
  color: red;
}

li {
  list-style: none;
}




.new-user-header{
  background-color: #9fc24d;
  height: 80px;
  width: 100%;
}

.new-user-footer{
  background-color: #9fc24d;
  height: 80px;
  width: 100%;
}

.wrapper{
  display: flex;
}

.side-bar{
  background-color: #202f55;
  color: white;
  min-height: 100vh;
  width: 250px;
}

.main-contents{
  background-color: #f7fcfe;
  width: calc(100vw - 250px);
  min-height: 100vh;
}

.category-info{
  border: solid 2px #88cb7f;
  border-radius: 2%;
  margin: 20px;
}

