<div class='contents'>
  <div class="precious-word">
    <h2 class="word-title">あなたが大切にしている言葉</h2>
    <div class="word-content"><%= @user.profile.precious_word %></div>
  </div>
  <h2 class='title'>カテゴリ一覧</h2>
  <div>
    <ul class='category-lists'>
      <% if @categories.present? %>
        <% @categories.each do |category| %>
          <li class='category-info'>
            
              <%# カテゴリ名表示 %>
              <h3 class='category-name main-btn'>
                <%= link_to category.category_name,  profile_category_path(@user.profile.id, category.id) %>
              </h3>
              <%# /カテゴリ名表示 %>
              <%# リストを上から３つまで取得して表示 %>
              <div class="list-contents">
                <ul class='list-lists'>
                  <% if category.lists.present? %>
                    <% lists = category.lists.first(3)%> 
                    <% lists.each do |list| %>
                       <li class='list'>
                        <h4 class='list-title main-btn'> 
                          <i class="fa fa-circle notification-circle fa-xs" style="color: black;" ></i>
                          <%= link_to list.list_title, profile_category_list_path(@user.profile.id, category.id, list.id) %>
                        </h4>      
                      </li>
                    <% end %> 
                  <% end %>
                  <%# カテゴリ内リストの総数表示 %>
                  <div class="list-num">
                      カテゴリ内のリスト数：<%= category.lists.length %>
                  </div>
                </ul>
              </div>
              <%# リストを上から３つまで取得して表示 %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div> 