<header class="new-user-header">
  <div class="header-logo">
     <%= link_to 'RecoLi', root_path %>
  </div>
  <div>
    <%= link_to  '新規登録',  new_user_registration_path %>
  </div>
  <div>
    <%= link_to 'ログイン',  new_user_session_path %>
  </div>
</header>

<body class="new-user-body">
＜葉っぱの画像を背景にする？＞
  <h1>死ぬまでにやりたい事を記録しよう</h1>
  <p>このアプリは、あなたの人生がより豊かになる手助けをします</p>
  <div>新規登録</div>
  <div>または</div>
  <div>ログイン</div>
＜/葉っぱの画像を背景にする？＞

  <h2>「いつか行ってみたい場所がある」「いつかやってみたい体験がある」「○○歳までに叶えたい夢がある」</h2>
  <div>＜アプリのキャプチャ画像＞</div>
  <p>RecoLiなら、あなたのそんな思いが実現するように、サポートできます。</p>
</body>

<footer class="new-user-footer">
  RecoLi
</footer> 