  <header class="new-user-header">
    <div class="header-logo">
      <div class="recoli-box">
        <div class="big-recoli">Record of One's Life</div>
        <div class="recoli">RecoLi</div>
      </div>  
    </div>
  </header>