<body class="new-user-top">

  <%= render "new_header" %>
  
  <div class="new-user-body">
      <h1>死ぬまでにやりたいことはありますか？</h1>
      <div class="body-message">
        <div>1つでもやりたい事が浮かんだなら</div>
        <div>RecoLiはあなたをサポートします</div>
        <div class="to-do-message">やりたい事を記録して</div>
        <div>達成までの道筋を作りましょう</div>
      </div>
      <div class="user-btn"><%= link_to  '新規登録',  new_user_registration_path, class:"btn-text" %></div>
      <div class="mataha">または</div>
      <div class="user-btn"><%= link_to 'ログイン',  new_user_session_path, class:"btn-text" %></div>
  </div>

  <%= render "new_footer" %>

</body>